<script crossorigin src="//unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="//unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

<script src="{{ .js_bundle.RelPermalink }}"></script>

<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="//static.tumblr.com/fpifyru/AKFlv9zdu/embedgist.js"></script>

<!-- https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="//www.gstatic.com/firebasejs/7.6.2/firebase-app.js"></script>
<script src="//www.gstatic.com/firebasejs/7.6.2/firebase-analytics.js"></script>
<script src="//www.gstatic.com/firebasejs/7.6.2/firebase-firestore.js"></script>

<script>
  var firebaseConfig = {
    apiKey: "AIzaSyDZSDKaAmz-UUyaL1IZMi4QO_q4Jouko2c",
    authDomain: "ask-me-anywhere.firebaseapp.com",
    databaseURL: "https://ask-me-anywhere.firebaseio.com",
    projectId: "ask-me-anywhere",
    storageBucket: "ask-me-anywhere.appspot.com",
    messagingSenderId: "123038093749",
    appId: "1:123038093749:web:e8ce89651fcf1371d109fc",
    measurementId: "G-JLDGL73R1B"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
