*~
*.pyc
nohup.out
dump.rdb
secure_settings.py
.DS_store
__pycache__
virtualenv

Transactions.csv

*.retry

drafts/

# Use hugo/assets/js-src instead.
# Run `npx babel --watch hugo/assets/js-src/ --out-dir hugo/assets/js/ --presets react-app/prod`
# to generate hugo/assets/js.
hugo/assets/js