/* Ask me anywhere */
.spacer {
  color: darkgray;

  display: flex;
  height: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

  width: 55%;
  position: relative;
  top: -26px;
  margin-left: auto;
  margin-right: auto;

  font-variant: small-caps;
}
.spacer-center {
  margin: auto;
}
.spacer-left {
  margin: auto;
  background-color: darkgray;
  display: flex;
  width: 40px;
  height: 1px;
  margin-top: 18px;
  margin-right: 10px;
}
.spacer-right {
  margin: auto;
  background-color: darkgray;
  display: flex;
  width: 40px;
  height: 1px;
  margin-top: 18px;
  margin-left: 10px;
}

/* Lists page for snippets. */
.snippet-item a {
  color: black;
}

/* Split headers */
.split-header {
  margin-bottom: 2rem;
}

.split-header .share-box {
  float: left;
}

.page-subtitle {
  font-size: 1.15rem;
  color: rgba(0,0,0,.54);
  margin-bottom: 1rem;
}

.dark .page-subtitle {
  color: rgba(255,255,255,0.54);
}

.split-header .page-subtitle {
  margin-bottom: 1.5rem;
}

.split-header-content {
  max-width: 612px;
  width: 100%;
  padding: 60px 60px 32px 0;
  margin-left: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.split-header-image {
  position: relative; /* Required for caption positioning */
  clear: both;
  max-width: 580px;
}

/* Collapsible Blog Posts */
[id^=_] { 
  display: none;  
}

/* Margin notes */
/*
This cursed incantation works around a display bug in Firefox, where writing
an emoji with default Emoji Presentation (e.g. 🐻) followed by a non-default
emoji character (e.g. ↩) results in the latter being rendered with emoji
presentation as well.
This is only a problem on the newer Goldmark renderer, which I'm not using yet.
*/
#article-content {
  position: relative;
}

a.footnote-backref::before {
  content: ' ';
}

.floating-footnotes {
  width: 20em;
  margin-top: 0;
  position: absolute;
  top: 0;
  /* The entire main article content, + the margins */
  left: 100%;
}

.floating-footnotes hr {
  display: none;
}

.floating-footnotes li[role=doc-endnote] p:last-child {
  margin-bottom: 0;
}

/* Chips */
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 25px;
  background-color: #f2c5c5;
}

.chip-notice {
  padding: 0 25px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 25px;
  background-color: #f2c5c5;
}

details summary > * {
  display: inline;
}
