{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $pageScope := . }}
  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
  {{ if .Params.incomplete }}
  <div class="stream-item snippet-item">
    <h3 class="mb-0 mt-0">
    <a href="{{ .RelPermalink }}">
      <strike>
        <i class="far fa-newspaper pub-icon" aria-hidden="true"></i>
      {{ .Title }}
      </strike>
    </a>
    </h3>
  </div>
  {{ else }}
  <div class="stream-item snippet-item">
    <h3 class="mb-0 mt-0">
    <a href="{{ .RelPermalink }}">
      <i class="far fa-newspaper pub-icon" aria-hidden="true"></i>
      {{ if .Params.chip }}
      <div class="chip">{{ .Params.chip }}</div>
      {{ end }}
      {{ .Title }}
      {{ if eq $pageScope.Title "Tags" }}
      ({{ len .RegularPages }})
      {{ end}}
    </a>
    </h3>
  </div>
  {{ end }}
  {{ end }}

  {{ partial "pagination" . }}
</div>

{{- end -}}
