{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
  <div class="stream-item snippet-item">
    <h3 class="mb-0 mt-0">
    <a href="{{ .RelPermalink }}">
      <i class="far fa-newspaper pub-icon" aria-hidden="true"></i>
      {{ .Title }}
    </a>
    </h3>
  </div>
  {{ end }}

  {{ partial "pagination" . }}
</div>

{{- end -}}
