<!DOCTYPE html>
<html>
  <head>
    <title>Bar Chart</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.8.0/JSXTransformer.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.8.0/react.min.js"></script>
    <script type="text/javascript" src="/static/third_party/d3.v3.min.js"></script>
    <script type="text/jsx" src="/static/react_d3.jsx"></script>
    <link rel="stylesheet" type="text/css" href="/static/linechart.css"></style>
    <script type="text/javascript">
      var data = {{ data }};
    </script>
    <script type="text/jsx" src="/static/react_test.jsx"></script>
  </head>
  <body>
    <div id="main">
    </div>
  </body>
</html>
