<!DOCTYPE html>
<html>
  <head>
    <title>Bar Chart</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/react/0.8.0/JSXTransformer.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/react/0.8.0/react.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/jsx" src="static/react_d3.jsx"></script>
    <script type="text/jsx" src="static/react_test.jsx"></script>
    <link rel="stylesheet" type="text/css" href="/static/linechart.css"></style>
  </head>
  <body>
    <div id="main">
    </div>
  </body>
</html>
